p{
  margin: 10px;
}
.adViewContainer{
  width: 95%;
  margin:10px auto;
  color:blueviolet;
  display: flex;
  flex-wrap: wrap;
}

.authorParagraph{
  order:30;
  width: 100%;
  font-size: 1.1em;
  color: darkmagenta;
}

.sellParagraph{
  order: 3;
  font-size: 1.4em;
  color: darkmagenta;
}
.productParagraph, .priceParagraph{
  font-size: 1.25em;
}


@media (min-width:768px) {
  .productImg{
    height: 300px;
  }
  
}
@media (min-width:1024px) {
  .productImg{
    height: 500px;
  }
  
  p{
    font-size: 1.2em;
  }
  
}