input, textarea, fieldset{
  margin: 5px;
  color: blueviolet;
  background-color: gold;
  border: 1px blueviolet solid;
}
::placeholder{
  color: blueviolet;
}
textarea{
  min-width: 95%;
}
#createAdForm{
  width: 100%;
}
@media (min-width:768px) {
  #createAdForm{
    width: 768px;
    margin: 0 auto;
  }
}

