header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px auto;
  background-color: blue;
  color: gold;
  padding: 10px;
  position: sticky;
  top:0;
}

#titleHeader{
  width: 100%;
  text-align: center;
  font-size: 1.75em;
}

.navBarContainer{
  text-align: left;
}
.navBarContainer a{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s, font-size 0.3s;
}
.navBarContainer a:hover{
  color:orange;
  font-size: 1.1em;
}
.searchContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:left;
  margin-top: 5px;
}
.searchField{
  width: 100%;
  margin: 0px;
}
.searchContainer>button{
  margin:0;
}

@media (min-width:768px) {
  header{
    justify-content: space-between;
    align-items: baseline;
  }

  #titleHeader{
    width: 70%;
    text-align: left;
    font-size: 2em;
  }
  .navBarContainer{
    text-align: right;
  }
  .searchContainer{
    width: 320px;
    justify-content:flex-end;
    margin-left: auto;
  }
  .searchField{
    width: 60%;
    height: 2em;
  }
  .searchContainer>button{
    margin:0 5px;
  }
}

@media (min-width:1024px) {

  #titleHeader{
    width: 60%;
  }

  .navBarContainer{
    width: 40%;
  }

  .navBarContainer>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width:1440px) {
  header{
    width: 100%;
    padding: 0 10% 0 10%;
  }
}